[Unit]
Description=Node.js Application
After=network.target

[Service]
Environment=MYSQL_HOSTNAME=localhost
Environment=MYSQL_PASSWORD=Karan@mysql001
Environment=MYSQL_DATABASENAME=cloud_assignment02
Environment=MYSQL_USERNAME=root
Environment=SALT_ROUNDS=10
Environment=PORT=8888
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
User=csye6225
Group=csye6225
WorkingDirectory=/home/packer/webapp/
ExecStart=/usr/bin/node /home/packer/webapp/index.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
